@using OnlineCalendarSystem_Tier1.Data
@using OnlineCalendarSystem_Tier1.Login
@using OnlineCalendarSystem_Tier1.Models

<style>
    header {
        padding: 25px;
    }

    .shadow {
        transition: 0.3s
    }

    .shadow:hover {
        -webkit-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 15px -6px rgba(0,0,0,0.75);
    }

    .calendar {
        padding: 10px;
    }

    .calendar-table {
        margin: 10px;
        width: 100%;
        background-color: #f3f2f1;
        text-align: center;
    }

        .calendar-table thead {
            background-color: white;
        }

        .calendar-table td {
            padding: 4px;
        }

        .calendar-table .day {
            width: 125px;
            height: 125px;
            min-width: 125px;
            margin: 5px;
            border-radius: 5px;
            background-color: white;
            padding: 5px;
            cursor: pointer;
        }

    .current-day {
        border: 2px solid #1b6ec2;
        color: #1b6ec2;
    }

    .selected-day {
        border: 2px solid #002752;
        color: #002752;
        background-color: #abdde5 !important;
    }

    .day .day-event {
        font-size: 10px;
        padding: 5px;
    }

    .red-orange {
        background: #da3b01;
        color: white;
    }

    .magenta {
        background: #881798;
        color: white;
    }

    .pink-red {
        background-color: #750b1c;
        color: white;
    }

    .yellow {
        background: #fce100;
        color: black;
    }

    .yellow-green {
        background: #8cbd18;
        color: black;
    }

    .calendar-toolbar {
        background-color: #1b6ec2;
        color: white;
    }

    .toolbar-button {
        background: #1b6ec2;
        margin: 0px;
        padding: 5px 10px;
        text-align: center;
        vertical-align: middle;
        outline: none;
        font-size: 25px;
        font-weight: 100;
        color: white;
        border: none;
    }

        .toolbar-button:hover {
            background: #002752;
        }

        .toolbar-button:focus {
            border: none;
            outline: none;
        }

    .fl-input {
        display: block;
        width: 100%;
        padding: 3px 7px;
        margin: 10px 0px;
        border: 1px solid #3b3a39;
    }

    .input:focus {
        outline: none;
        border: 2px dashed #1b6ec2;
    }

    .card-div {
        padding: 10px;
    }

    .event {
        border-radius: 5px;
        margin: 10px 5px;
        padding: 5px;
    }

    .card {
        margin: 10px;
    }
</style>
<div class="calendar">
    <div class="row">
        <div class="col-sm-12  col-lg-2">
            <select class="fl-input" @onchange="SelectYear">
                @for (int i = 2019; i < 2025; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>
        <div class="col-sm-12  col-lg-2">
            <select class="fl-input" @onchange="SelectMonth">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div>
    <table class="calendar-table">
        <thead>
            <tr>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thu</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < rows; i++)
            {
                <tr>
                    @foreach (var item in dates.Skip(i * 7).Take(7))
                    {
                        <td> @DayTemplate(item)</td>
                    }
                </tr>
            }
            <tr>
                <td>
                    @*Days(day)*@
                </td>
            </tr>
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public RenderFragment<Date> DayTemplate { get; set; }
    private List<Date> dates = new List<Date>();
    private int year = 2020;
    private int month = 5;
    private int rows = 0;

    public void SelectYear(ChangeEventArgs eventArgs)
    {
        year = Convert.ToInt32(eventArgs.Value.ToString());
        UpdateCalendar();
    }

    public void SelectMonth(ChangeEventArgs eventArgs)
    {
        month = Convert.ToInt32(eventArgs.Value.ToString());
        UpdateCalendar();
    }

    public void UpdateCalendar()
    {
        dates = new List<Date>();

        var firstDay = new DateTime(year, month, 1);
        int weekNumber = (int)firstDay.DayOfWeek;
        int numberOfEmptyDays = 0;
        if (weekNumber == 7)
        {
            numberOfEmptyDays = 0;
        }
        else
        {
            numberOfEmptyDays = weekNumber;
        }
        //Add empty days
        for (int i = 0; i < numberOfEmptyDays; i++)
        {
            dates.Add(new Date());
        }
        //Add month days
        int numberOfDaysInMonth = DateTime.DaysInMonth(year, month);
        for (int i = 0; i < numberOfDaysInMonth; i++)
        {
            dates.Add(new Date());
        }
        //number of rows
        int count = dates.Count % 7;
        if (count == 0)
        {
            rows = dates.Count / 7;
        }
        else
        { 
            rows = Convert.ToInt32(dates.Count / 7) + 1;
        }
        Console.WriteLine($"Total Rows: {rows} | Number of Empty Days {numberOfEmptyDays} | Month Days {numberOfDaysInMonth}");
    }
}