 @inject OnlineCalendarService OnlineCalendarService

 <div class="ms-depth-10 card">
     <EditForm model="_event" OnValidSubmit="removeEvent">
         <div class="calendar-toolbar">
             <button class="toolbar-button" type="submit"><i class="ms-Icon ms-Icon--AddEvent"></i> RemoveEvent</button>
         </div>
         <div class="card-div">
             <input type="text" @bind-value="_event.id" class="fl-input" placeholder="Event">
         </div>
     </EditForm>
 </div>
@code {
    [Parameter]
    public Date EventDay { get; set; }
    private Event evt;

    private async void removeEvent()
    {
       await OnlineCalendarService.deleteEvent(evt.id);
    }

}