@using OnlineCalendarSystem_Tier1.Data
@using OnlineCalendarSystem_Tier1.Login
@using OnlineCalendarSystem_Tier1.Models

<div class="ms-depth-10 card">
    <EditForm model="_event" OnValidSubmit="removeEvent">
        <div class="calendar-toolbar">
            <button class="toolbar-button" type="submit"><i class="ms-Icon ms-Icon--AddEvent"></i> RemoveEvent</button>
        </div>
        <div class="card-div">
            <input type="text" @bind-value="evt.id" class="fl-input" placeholder="Event">
        </div>
    </EditForm>
</div>
@code {
    [Parameter]
    public Date EventDay { get; set; }
    private Event evt;

    private async void removeEvent()
    {
        string message = (string) await OnlineCalendarService.deleteEvent(evt.id);
    }
}