@page "/"

<h1>Calendar system</h1>
<AuthorizeView>
    <NotAuthorized>
        <p>Please login to gain access to the calendar</p>
    </NotAuthorized>
    <Authorized>
        <!--Here goes the calendar grid code-->
    </Authorized>
</AuthorizeView>
