@page "/login"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<AuthorizeView>
    <NotAuthorized>
        @*<label> Username:</label>*@
        <input type="text" placeholder="Username" @bind-value="username" />
        @*<label> Password </label>*@
        <input type="password" placeholder="Password" @bind-value="password" />
        <a href="" @onclick="PerformLogin">Login</a>
    </NotAuthorized>
    <Authorized>
        <a href="" @onclick="PerformLogout">Log out</a>
    </Authorized>
</AuthorizeView>

@code {
    private string username;
    private string password;

    public /*async Task*/ void /*I put the void here so it wouldn't give errors*/ PerformLogin()
    {
        username = "";
        password = "";
        //return null;
    }

    public /*async Task*/ void /*I put the void here so it wouldn't give errors*/ PerformLogout()
    {
        username = "";
        password = "";
        //return null;
    }
}
}
