@layout AuthLayout
@page "/login"
@using OnlineCalendarSystem_Tier1.Data
@using OnlineCalendarSystem_Tier1.Login
@using OnlineCalendarSystem_Tier1.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject OnlineCalendarService OnlineCalendarService
<div class="row">
    <div class="col-12">
        <h2>Login to your account</h2>
        <EditForm OnValidSubmit="PerformLogin">
            <RadzenCard>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Username</label>
                <RadzenTextBox @bind-Value="username"></RadzenTextBox>

                <label>Password</label>
                <RadzenPassword @bind-Value="password"></RadzenPassword>

                <hr />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Login"
                              ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"
                              Disabled="false" />
                <RadzenButton ButtonType="Radzen.ButtonType.Button" Text="Register"
                              ButtonStyle="Radzen.ButtonStyle.Secondary" class="btn-block mr-2"
                              Disabled="false" Click="GoToRegister" />
            </RadzenCard>
        </EditForm>
    </div>
</div>




@code{
    private string username, password;
    private string errorMessage;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    public async void PerformLogin()
    {
        UserService.SetUser((User)await OnlineCalendarService.login(username, password).Result);
        if (UserService.GetUser() != null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    public void GoToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
}
