@page "/register"
@layout AuthLayout
@using OnlineCalendarSystem_Tier1.Login
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-12">
        <h2>Create a new account</h2>
        <EditForm OnValidSubmit="Register">
            <RadzenCard>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Username</label>
                <RadzenTextBox @bind-Value="username"></RadzenTextBox>
                
                <label>Password</label>
                <RadzenPassword @bind-Value="password"></RadzenPassword>
                
                <hr />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Register"
                              ButtonStyle="Radzen.ButtonStyle.Primary" class="btn-block mr-2"
                              Disabled="false"/>
                <RadzenButton ButtonType="Radzen.ButtonType.Button" Text="Login"
                              ButtonStyle="Radzen.ButtonStyle.Secondary" class="btn-block mr-2"
                              Disabled="false" Click="GoToLogin"/>
            </RadzenCard>
        </EditForm>
    </div>
</div>

@code {
    private string username, password, message;

    public async void Register()
    {
        message = await OnlineCalendarService.createUser(username, password).Result;
        if (message.Equals("User created!"))
        {
            GoToLogin();
        }
    }

    public void GoToLogin()
    {
        NavigationManager.NavigateTo("login");
    }
}