@page "/postgresqldatabase"
@using OnlineCalendarSystem_Tier1.Data
@using OnlineCalendarSystem_Tier1.Login
@inherits OwningComponentBase<UserService>
<h3>Student</h3>
<table border="1">
    <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>User password</th>
        <th>User level</th>
    </tr>
    <tr>
        @foreach(var item in sc)
        {
            <td>@item.id</td>
            <td>@item.username</td>
            <td>@item.password</td>
            <td>@item.securitylevel</td>
        }
    </tr>
</table>
@code {
    public System.Collections.Generic.IList<users> sc;

    protected override void OnInitialized()
    {
        sc = Service.displayUsers();
    }

}